@charset "UTF-8";
/* line 1, app/assets/stylesheets/pagination.scss */
.custom-table-container {
  position: relative;
}

/* line 5, app/assets/stylesheets/pagination.scss */
.pagination-container {
  position: fixed;
  bottom: 50px;
  width: 100%;
}

/* line 12, app/assets/stylesheets/pagination.scss */
.pagination a {
  margin: 0 2px;
  /* Ajusta el valor según el espacio que desees */
}
