.modal.fade#modalCheck{ tabindex: "-1", role: "dialog", aria: { labelledby: "exampleModalLabel", modal: true } }
  .modal-dialog{ role: "document" }
    .modal-content
      .modal-header
        %h5.modal-title Crear Cheque
        %button.btn.btn-secondary{ type: "button", data: { dismiss: "modal" }, aria: { label: "Close" } }
          %span{ aria: { hidden: "true" } } &times;
      .modal-body
        = render 'budgets/create_check_form', check: @check, budget_id: @budget.IdInterno, banks: @banks, suppliers: @suppliers
      .modal-footer
        %button.btn.btn-secondary{ type: "button", data: { dismiss: "modal" } } Cerrar
