.modal.fade#pendingModal{ tabindex: "-1", role: "dialog", aria: { labelledby: "exampleModalLabel", modal: true } }
  .modal-dialog{ role: "document" }
    .modal-content
      .modal-header
        %h5.modal-title Transacciones pendientes de aprobación
        %button.btn.btn-secondary{ type: "button", data: { dismiss: "modal" }, aria: { label: "Close" } }
          %span{ aria: { hidden: "true" } } &times;
      .modal-body
        %table.table.table-striped.table-bordered
          %thead
            %tr
              %th Concepto
              %th Total
              %th Acciones
            %tbody
              - @pending.each do |cheque|
                %tr
                  %td= cheque["concepto_cheque"]
                  %td{class: numeric_class(cheque["Total"])}
                    = number_to_currency(cheque["Total"])
                  %td.text-center
                    = link_to check_path(cheque["IdInterno"]), class: 'text-success icon-spacing' do
                      %i.fa.fa-eye

      .modal-footer
        %button.btn.btn-secondary{ type: "button", data: { dismiss: "modal" } } Cerrar
