.modal.fade#pendingModal{ tabindex: "-1", role: "dialog", aria: { labelledby: "exampleModalLabel", modal: true } }
  .modal-dialog{ role: "document" }
    .modal-content
      .modal-header
        %h5.modal-title Cheques pendientes de aprobación
        %button.btn.btn-secondary{ type: "button", data: { dismiss: "modal" }, aria: { label: "Close" } }
          %span{ aria: { hidden: "true" } } &times;
      .modal-body
        %table.table.table-striped.table-bordered
          %thead
            %tr
              %th Concepto
              %th Total
              %th Ver
              %th Aprobar
            %tbody
              - @pending.each do |cheque|
                %tr
                  %td= cheque["concepto_cheque"]
                  %td= cheque["Total"]
                  %td.text-center
                    = link_to details_budget_path(cheque["concepto_cheque"]), class: 'text-success icon-spacing' do
                      %i.fa.fa-eye
                  %td.text-center
                    = link_to details_budget_path(cheque["concepto_cheque"]), class: 'text-success' do
                      %i.fa.fa-check

      .modal-footer
        %button.btn.btn-secondary{ type: "button", data: { dismiss: "modal" } } Cerrar
