%table.table.table-striped.table-bordered
  %thead
    %tr
      %th Descripción
      %th Total
      %th Acciones
  %tbody
    - @checkdetails.each do |detail|
      %tr
        %td= detail["description"]
        %td{class: numeric_class(detail["importe_renglon"])}
          = number_to_currency(detail["importe_renglon"])
        %td= "Editar Eliminar"

