%table.table.table-striped.table-bordered
  %thead
    %tr
      %th Descripción
      %th Total
      %th Acciones
  %tbody
    - @checkdetails.each do |detail|
      %tr
        %td= detail["description"]
        %td{class: numeric_class(detail["importe_renglon"])}
          = number_to_currency(detail["importe_renglon"])
        %td
          = link_to detail_path(id: detail["IdInterno"]), class: "icon-spacing", method: :delete, data: { confirm: "¿Estás seguro que deseas eliminar esta movimiento?" } do
            %i.fa.fa-pencil-alt
          = link_to detail_path(id: detail["IdInterno"]), class: "icon-spacing", method: :delete, data: { confirm: "¿Estás seguro que deseas eliminar esta movimiento?" } do
            %i.fa.fa-trash.text-danger
