.text-center
  %h1 Actualizar permisos del usuario

.container
  .row
    .col-xs-12
      - @entities.each do |entity|
        .card.mt-3.mx-auto
          .card-body
            .form-group
              = render 'entities_form', entity: entity
      
      .col-xs-12.text-right
        %button.btn.btn-primary(type="submit") Enviar
