%div.container
  %div.d-flex.flex-column.justify-content-center.align-items-center.min-vh-100
    %div.row.w-50
      %div.col-12.text-center
        = image_tag("lock-login.png", alt: "finder", class: "img-fluid mb-4", style: "width: 200px;")
    %div.row.w-50
      %div.col-12
        %form{action: "/searchs", method: "get"}
          .input-group.justify-content-center
            %input.form-control.w-75{type: "text", placeholder: "Ingrese los datos a buscar", name: "query", minlength: "4"}
            %div.input-group-append
              %button.btn.btn-primary{type: "submit"}
                Buscar
