.text-center
  %h1 Inicio

  %div
  = pie_chart @budgetlines.map { |budgetline| [budgetline["nombre_renglon_presupuestal"], budgetline["monto_presupuestado"]] }, height: '300px', library: { legend: { position: 'right' } }


%div
  - grouped_budgetlines = @budgetlines.group_by { |budgetline| budgetline["nombre_renglon_presupuestal"] }.map { |nombre, group| [nombre, group.sum { |item| item["monto_presupuestado"].to_f }] }
  = bar_chart grouped_budgetlines
