%html
  %head
    %title Acceso Denegado
    = stylesheet_link_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css', integrity: 'sha384-MTf+rxO3T9a2JpPlDPCFZtggbAMbLQ4WGF/dBIZ0+ipgzDqEw5F3s1uhrt5VRtFb', crossorigin: 'anonymous'
  %body.bg-light.d-flex.justify-content-center.align-items-center.min-vh-100
    .text-center.bg-white.p-4.rounded.shadow
      %h1.text-danger No tienes acceso
      %p Contacta a tu administrador para más información.
