%nav.navbar.navbar-expand-lg.navbar-light.bg-light
  .container
    %a.navbar-brand{href: "#"} SAP
    %button.navbar-toggler{type: "button", data: {toggle: "collapse"}, data_target: "#navbarNav", aria_controls: "navbarNav", aria_expanded: "false", aria_label: "Toggle navigation"}
      %span.navbar-toggler-icon
    #navbarNav.collapse.navbar-collapse
      %ul.navbar-nav.ml-auto
        %li.nav-item
          %a.nav-link{href: "#"} Inicio
        %li.nav-item
          %a.nav-link{href: "#"} Acerca de
        %li.nav-item
          %a.nav-link{href: "#"} Contacto
